package {{.AppName}}

import (
	"context"

	"github.com/cybersaksham/gogo/management"
)

func Commands() []management.Command {
	return []management.Command{
		reindexCommand{},
	}
}

type reindexCommand struct{}

func (reindexCommand) Name() string {
	return AppLabel + ".reindex"
}

func (reindexCommand) Summary() string {
	return "Reindex " + AppLabel + " records"
}

func (reindexCommand) Run(context.Context, []string) error {
	return nil
}
