package {{.AppName}}

import "github.com/cybersaksham/gogo/forms"

func NewItemForm(data map[string]any) *forms.Form {
	return forms.NewForm(forms.FormOptions{
		Data: data,
		Fields: map[string]*forms.Field{
			"name": forms.CharField(forms.FieldOptions{Required: true, Label: "Name"}),
			"slug": forms.SlugField(forms.FieldOptions{Required: true, Label: "Slug"}),
		},
		FieldOrder: []string{"name", "slug"},
	})
}
