package {{.AppName}}

import "github.com/cybersaksham/gogo/api"

func ItemSerializer() *api.Serializer {
	return api.NewSerializer(
		api.IntegerField("id", api.FieldOptions{ReadOnly: true}),
		api.StringField("name", api.FieldOptions{Required: true}),
		api.SlugField("slug", api.FieldOptions{Required: true}),
	)
}
