package {{.AppName}}

import (
	"context"
	"net/http"

	gogohttp "github.com/cybersaksham/gogo/http"
)

func RegisterRoutes(router *gogohttp.Router) error {
	return router.Handle(AppLabel+":index", "/"+AppLabel+"/", Index, http.MethodGet)
}

func Index(context.Context, *gogohttp.Request) gogohttp.Response {
	return gogohttp.Text(http.StatusOK, AppLabel+" index")
}
