# Framework
GOGO_ENV=development
GOGO_SECRET_KEY=

# Database
DATABASE_URL=

# Server
GOGO_HTTP_ADDR=:8000

# Queue
GOGO_BROKER_URL=
GOGO_RESULT_BACKEND=

# Security
GOGO_ALLOWED_HOSTS=localhost,127.0.0.1
