{{define "content"}}
<div id="content-main">
  <p>First, enter a username and password. Then, you&rsquo;ll be able to edit more user options.</p>
  <form method="post" id="user_form" novalidate>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{.CSRFToken}}">
    <div>
      <fieldset class="module aligned">
        <div class="form-row field-username">
          <div><div class="flex-container"><label for="id_username" class="required">Username:</label><input type="text" name="username" class="vTextField" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username"></div></div>
        </div>
        <div class="form-row field-password1">
          <div><div class="flex-container"><label for="id_password1" class="required">Password:</label><input type="password" name="password1" autocomplete="new-password" required id="id_password1"></div></div>
        </div>
        <div class="form-row field-password2">
          <div><div class="flex-container"><label for="id_password2" class="required">Password confirmation:</label><input type="password" name="password2" autocomplete="new-password" required id="id_password2"></div></div>
        </div>
      </fieldset>
      {{template "submit-line" .}}
    </div>
  </form>
</div>
{{end}}
{{template "base" .}}
