{{define "content"}}
<div id="content-main">
  <form method="post" id="user_form">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{.CSRFToken}}">
    <input type="text" name="username" value="{{.UserName}}" class="hidden">
    <div>
      {{if .Error}}<p class="errornote">{{.Error}}</p>{{end}}
      <p>Enter a new password for the user <strong>{{.UserName}}</strong>.</p>
      <fieldset class="module aligned">
        <div class="form-row field-password1">
          <div class="flex-container"><label for="id_password1" class="required">Password:</label><input type="password" name="password1" autocomplete="new-password" required id="id_password1"></div>
        </div>
        <div class="form-row field-password2">
          <div class="flex-container"><label for="id_password2" class="required">Password confirmation:</label><input type="password" name="password2" autocomplete="new-password" required id="id_password2"></div>
        </div>
      </fieldset>
      <div class="submit-row">
        <input type="submit" name="set-password" value="Change password" class="default set-password">
      </div>
    </div>
  </form>
</div>
{{end}}
{{template "base" .}}
