package settings

import "github.com/cybersaksham/gogo/conf"

func Base() conf.Settings {
	settings := conf.DefaultSettings()
	settings.InstalledApps = []string{
		"gogo.contrib.sites",
		"gogo.contrib.humanize",
	}
	settings.RootURLConf = "{{.ProjectName}}.urls"
	settings.StaticRoot = "staticfiles"
	settings.MediaRoot = "media"
	settings.TemplateDirs = []string{"templates"}
	return settings
}
