package settings

import "github.com/cybersaksham/gogo/conf"

func Test() conf.Settings {
	settings := Base()
	settings.Env = "test"
	settings.Debug = false
	settings.SecretKey = "test-secret"
	settings.DatabaseURL = "sqlite://:memory:"
	settings.AllowedHosts = []string{"testserver"}
	return settings
}
