package {{.ProjectName}}

import "github.com/cybersaksham/gogo/admin"

func NewAdminRegistry() *admin.Registry {
	registry := admin.NewRegistry()
	// gogo:startapp-admin
	return registry
}

func NewAdminSite() *admin.Site {
	site := admin.DefaultSite()
	site.ModelRegistry = NewAdminRegistry()
	return site
}
