package {{.ProjectName}}

import (
	"os"
	"path/filepath"

	"github.com/cybersaksham/gogo/app"
	"github.com/cybersaksham/gogo/auth"
	"github.com/cybersaksham/gogo/checks"
	"github.com/cybersaksham/gogo/management"
	gogomigrations "github.com/cybersaksham/gogo/migrations"
	"github.com/cybersaksham/gogo/models"
)

func NewConfig() app.BaseConfig {
	root, err := os.Getwd()
	if err != nil {
		root = "."
	}
	return app.BaseConfig{
		AppName:        "{{.ProjectName}}",
		AppLabel:       "{{.ProjectName}}",
		AppPath:        filepath.Join(root, "{{.ProjectName}}"),
		AppVerboseName: "{{.ProjectName}}",
	}
}

func AppConfigs() []app.Config {
	return []app.Config{
		NewConfig(),
		// gogo:startapp-configs
	}
}

func ModelMetadata() []models.Metadata {
	var metadata []models.Metadata
	metadata = append(metadata, auth.ModelMetadata()...)
	// gogo:startapp-model-metadata
	return metadata
}

func Migrations() []gogomigrations.Migration {
	var registered []gogomigrations.Migration
	// gogo:startapp-migrations
	return registered
}

func Commands() []management.Command {
	var commands []management.Command
	// gogo:startapp-commands
	return commands
}

func Checks() []checks.Check {
	var registered []checks.Check
	// gogo:startapp-checks
	return registered
}
