package {{.ProjectName}}

import (
	"context"

	"github.com/cybersaksham/gogo/conf"
	gogohttp "github.com/cybersaksham/gogo/http"
)

func ServerConfig(conf.Settings) gogohttp.ServerConfig {
	return gogohttp.ServerConfig{}
}

func Ready(context.Context) error {
	return nil
}

func Shutdown(context.Context) error {
	return nil
}
