package main

import (
	"{{.ModulePath}}/{{.ProjectName}}"
	"{{.ModulePath}}/{{.ProjectName}}/settings"

	"github.com/cybersaksham/gogo/management"
)

func main() {
	management.MainProject(management.Project{
		Settings:      settings.Local,
		AppConfigs:    {{.ProjectName}}.AppConfigs,
		ModelMetadata: {{.ProjectName}}.ModelMetadata,
		Router:        {{.ProjectName}}.NewRouter,
		QueueApp:      {{.ProjectName}}.NewQueueApp,
	})
}
