package {{.ProjectName}}

import (
	"github.com/cybersaksham/gogo/conf"
	gogohttp "github.com/cybersaksham/gogo/http"
)

func Middleware(conf.Settings) (gogohttp.MiddlewareRegistry, error) {
	return gogohttp.MiddlewareRegistry{}, nil
}
