package {{.ProjectName}}

import "github.com/cybersaksham/gogo/queue"

func NewQueueApp() *queue.App {
	app := queue.NewApp(queue.AppOptions{DefaultQueue: "default"})
	// gogo:startapp-tasks
	return app
}
