package {{.ProjectName}}

import (
	"context"
	"net/http"

	gogohttp "github.com/cybersaksham/gogo/http"
)

func NewRouter() (*gogohttp.Router, error) {
	router := gogohttp.NewRouter()
	if err := RegisterRoutes(router); err != nil {
		return nil, err
	}
	return router, nil
}

func RegisterRoutes(router *gogohttp.Router) error {
	if err := router.Handle("home", "/", func(context.Context, *gogohttp.Request) gogohttp.Response {
		return gogohttp.Text(http.StatusOK, "Welcome to {{.ProjectName}}")
	}, http.MethodGet); err != nil {
		return err
	}
	// gogo:startapp-routes
	adminRouter, err := NewAdminSite().URLs()
	if err != nil {
		return err
	}
	for _, route := range adminRouter.Routes() {
		if err := router.Handle(route.Name, route.Pattern, route.View, route.Methods...); err != nil {
			return err
		}
	}
	return nil
}
