{{define "actions"}}
<div class="actions">
  <label>Action: <select name="action" required>
    <option value="" selected>---------</option>
    {{range .Actions}}<option value="{{.Name}}">{{.Label}}</option>{{end}}
  </select></label>
  <input type="hidden" name="select_across" value="0" class="select-across">
  <button type="submit" class="button" title="Run the selected action" name="index" value="0">Run</button>
  {{if .ChangeList.Total}}<span class="action-counter" data-actions-icnt="{{.ChangeList.Total}}">0 of {{.ChangeList.Total}} selected</span>{{end}}
</div>
{{end}}
