{{define "app-list"}}
{{range .Apps}}
<div class="app-{{.AppLabel}} module">
  <table>
    <caption>
      <a href="/admin/{{.AppLabel}}/" class="section" title="Models in the {{.AppLabel}} application">{{.AppLabel}}</a>
    </caption>
    <thead class="visually-hidden">
      <tr>
        <th scope="col">Model name</th>
        <th scope="col">Add link</th>
        <th scope="col">Change or view list link</th>
      </tr>
    </thead>
    <tbody>
      {{range .Models}}
      <tr class="model-{{.LowerName}}">
        <th scope="row" id="{{.RowID}}">
          {{if .ChangeURL}}<a href="{{.ChangeURL}}">{{.Name}}</a>{{else}}{{.Name}}{{end}}
        </th>
        {{if .AddURL}}<td><a href="{{.AddURL}}" class="addlink" aria-describedby="{{.RowID}}">Add</a></td>{{else}}<td></td>{{end}}
        {{if .ChangeURL}}<td><a href="{{.ChangeURL}}" class="changelink" aria-describedby="{{.RowID}}">Change</a></td>{{else}}<td></td>{{end}}
      </tr>
      {{else}}
      <tr><td>No models available.</td></tr>
      {{end}}
    </tbody>
  </table>
</div>
{{else}}
<p>You don&rsquo;t have permission to view or edit anything.</p>
{{end}}
{{end}}
