{{define "content"}}
<div id="content-main">
  {{template "change-list-object-tools" .}}
  <div class="module{{if .ListFilters}} filtered{{end}}" id="changelist">
    <div class="changelist-form-container">
    {{if .ListFilters}}
    <search id="changelist-filter" aria-labelledby="changelist-filter-header">
      <h2 id="changelist-filter-header">Filter</h2>
      {{range .ListFilters}}
      <details data-filter-title="{{.Title}}" open>
        <summary>
          By {{.Title}}
        </summary>
        <ul>
          <li class="selected"><a href="?">All</a></li>
          <li><a href="?{{.Name}}__exact=1">Yes</a></li>
          <li><a href="?{{.Name}}__exact=0">No</a></li>
        </ul>
      </details>
      {{end}}
    </search>
    {{end}}
    <div>
      <div id="toolbar">
        <h2 id="changelist-search-form" class="visually-hidden">Search {{.ModelVerboseNamePlural}}</h2>
        <form id="changelist-search" method="get" role="search" aria-labelledby="changelist-search-form">
          <div>
            <label for="searchbar"><img src="/admin/static/admin/img/search.svg" alt="Search"></label>
            <input type="text" size="40" name="q" value="{{.SearchQuery}}" id="searchbar"{{if .SearchHelpText}} aria-describedby="searchbar_helptext"{{end}}>
            <input type="submit" value="Search">
          </div>
          {{if .SearchHelpText}}<br class="clear"><div class="help" id="searchbar_helptext">{{.SearchHelpText}}</div>{{end}}
        </form>
      </div>
      <form id="changelist-form" method="post" novalidate>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{.CSRFToken}}">
        {{template "actions" .}}
        <div class="results">
          <table id="result_list">
            <thead>
              <tr>
                <th class="action-checkbox-column" scope="col">
                  <div class="text"><span><input type="checkbox" id="action-toggle" aria-label="Select all objects on this page for an action"></span></div>
                  <div class="clear"></div>
                </th>
                {{range $index, $column := .ChangeList.Columns}}
                <th class="sortable column-{{$column.Name}}{{if eq $index 0}} sorted ascending{{end}}" scope="col">
                  {{if eq $index 0}}<div class="sortoptions"><a class="sortremove" href="?o=" title="Remove from sorting"></a><a class="toggle ascending" href="?o=-1" title="Toggle sorting"></a></div>{{end}}
                  <div class="text"><a href="?o=1" role="button">{{$column.Label}}</a></div>
                  <div class="clear"></div>
                </th>
                {{end}}
              </tr>
            </thead>
            <tbody>
              {{range $row := .ChangeList.Rows}}
              <tr>
                <td class="action-checkbox"><input type="checkbox" class="action-select" name="_selected_action" value="{{$row.ObjectID}}" aria-label="Select this object for an action"></td>
                {{range $row.Cells}}{{if .LinkURL}}<th class="{{.Class}}"><a href="{{.LinkURL}}">{{.Value}}</a></th>{{else}}<td class="{{.Class}}">{{.Value}}</td>{{end}}{{end}}
              </tr>
              {{else}}
              <tr><td colspan="99">No {{$.ModelVerboseNamePlural}} are available.</td></tr>
              {{end}}
            </tbody>
          </table>
        </div>
        <div class="changelist-footer">
          <nav class="paginator" aria-labelledby="pagination">
            <h2 id="pagination" class="visually-hidden">Pagination {{.ModelVerboseNamePlural}}</h2>
            {{.ChangeList.Total}} {{.ModelVerboseNamePlural}}
          </nav>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
{{end}}
{{template "base" .}}
