{{define "content"}}
<div id="content-main">
  {{template "change-form-object-tools" .}}
  <form method="post" id="{{.Form.ID}}" novalidate>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{.CSRFToken}}">
    {{if .Form.SaveOnTop}}{{template "submit-line" .}}{{end}}
    <div>
      {{range $index, $fieldset := .Form.Fieldsets}}
      <fieldset class="module aligned"{{if .Name}} aria-labelledby="fieldset-0-{{$index}}-heading"{{end}}>
        {{if .Name}}<h2 id="fieldset-0-{{$index}}-heading" class="fieldset-heading">{{.Name}}</h2>{{end}}
        {{range .Fields}}
        <div class="{{.FieldCSS}}">
          {{if .Fieldset}}<fieldset{{if .HelpID}} aria-describedby="{{.HelpID}}"{{end}}><legend for="{{.FieldID}}">{{.Label}}:</legend>{{end}}
          <div>
            <div class="flex-container{{if .Checkbox}} checkbox-row{{end}}">
              {{if .Checkbox}}
                {{.WidgetHTML}}<label class="vCheckboxLabel" for="{{.FieldID}}">{{.Label}}</label>
              {{else if .Fieldset}}
                {{if .Readonly}}<div class="readonly">{{.WidgetHTML}}</div>{{else}}{{.WidgetHTML}}{{end}}
              {{else}}
                <label{{if .LabelClass}} class="{{.LabelClass}}"{{end}}{{if .LabelFor}} for="{{.FieldID}}"{{end}}>{{.Label}}:</label>
                {{if .Readonly}}<div class="readonly">{{.WidgetHTML}}</div>{{else}}{{.WidgetHTML}}{{end}}
              {{end}}
            </div>
            {{if .HelpText}}<div class="help"{{if .HelpID}} id="{{.HelpID}}"{{end}}><div>{{.HelpText}}</div></div>{{end}}
            {{if .Errors}}<ul class="errorlist"><li>{{.Errors}}</li></ul>{{end}}
          </div>
          {{if .Fieldset}}</fieldset>{{end}}
        </div>
        {{end}}
      </fieldset>
      {{end}}
    </div>
    {{template "submit-line" .}}
    <script id="django-admin-form-add-constants" src="/admin/static/admin/js/change_form.js" async></script>
  </form>
</div>
{{end}}

{{template "base" .}}
