{{define "content"}}
<div id="content-main">
  <ul class="object-tools">
    {{if .HistoryURL}}<li><a href="{{.HistoryURL}}" class="historylink">History</a></li>{{end}}
    {{if .DeleteURL}}<li><a href="{{.DeleteURL}}" class="deletelink">Delete</a></li>{{end}}
  </ul>
  <form method="post" id="{{.Form.ID}}" novalidate>
    <input type="hidden" name="csrfmiddlewaretoken" value="">
    {{if .Form.SaveOnTop}}{{template "submit-row" .}}{{end}}
    <div>
      {{range .Form.Fieldsets}}
      <fieldset class="module aligned">
        {{if .Name}}<h2>{{.Name}}</h2>{{end}}
        {{range .Fields}}
        <div class="{{.FieldCSS}}">
          <div>
            <label{{if not .Readonly}} for="{{.FieldID}}"{{end}}>{{.Label}}:</label>
            <div class="related-widget-wrapper">{{.WidgetHTML}}</div>
            {{if .HelpText}}<div class="help">{{.HelpText}}</div>{{end}}
            {{if .Errors}}<ul class="errorlist"><li>{{.Errors}}</li></ul>{{end}}
          </div>
        </div>
        {{end}}
      </fieldset>
      {{end}}
    </div>
    {{template "submit-row" .}}
  </form>
</div>
{{end}}

{{define "submit-row"}}
<div class="submit-row">
  {{range .Form.SaveButtons}}
    <input type="submit" value="{{.Value}}" class="{{.Class}}" name="{{.Name}}">
  {{end}}
  {{if .DeleteURL}}<p class="deletelink-box"><a href="{{.DeleteURL}}" class="deletelink">Delete</a></p>{{end}}
</div>
{{end}}

{{template "base" .}}
