{{define "content"}}
{{if .Deletion.PermissionsMissing}}
  <p>Deleting the selected {{.ModelVerboseNamePlural}} would result in deleting related objects, but your account doesn&rsquo;t have permission to delete the following types of objects:</p>
  <ul>{{range .Deletion.PermissionsMissing}}<li>{{.}}</li>{{end}}</ul>
{{else if .Deletion.Protected}}
  <p>Deleting the selected {{.ModelVerboseNamePlural}} would require deleting the following protected related objects:</p>
  <ul id="deleted-objects">{{range .Deletion.Protected}}<li>{{.}}</li>{{end}}</ul>
{{else}}
  <p>Are you sure you want to delete the selected {{.ModelVerboseNamePlural}}? All of the following objects and their related items will be deleted:</p>
  {{template "object-delete-summary" .}}
  <h2>Objects</h2>
  <ul id="deleted-objects">{{range .Deletion.Objects}}<li>{{.}}</li>{{end}}</ul>
  <form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{.CSRFToken}}">
    <div>
      {{range .Deletion.SelectedIDs}}<input type="hidden" name="_selected_action" value="{{.}}">{{end}}
      <input type="hidden" name="action" value="delete_selected">
      <input type="hidden" name="post" value="yes">
      <input type="submit" value="Yes, I&rsquo;m sure">
      <a role="button" href="#" class="button cancel-link">No, take me back</a>
    </div>
  </form>
{{end}}
<script src="/admin/static/admin/js/cancel.js" async></script>
{{end}}
{{template "base" .}}
