{{define "content"}}
<div id="content-main">
  <div id="change-history" class="module">
    {{if .History.Entries}}
    <table>
      <thead>
        <tr>
          <th scope="col">Date/time</th>
          <th scope="col">User</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{range .History.Entries}}
        <tr>
          <th scope="row">{{.ActionTime}}</th>
          <td>{{.UserID}}</td>
          <td>{{.ChangeMessage}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    <nav class="paginator" aria-labelledby="pagination">
      <h2 id="pagination" class="visually-hidden">Pagination {{.ModelVerboseName}} entries</h2>
      {{len .History.Entries}} entries
    </nav>
    {{else}}
    <p>This object doesn&rsquo;t have a change history. It probably wasn&rsquo;t added via this admin site.</p>
    {{end}}
  </div>
</div>
{{end}}
{{template "base" .}}
