{{define "content"}}
<div id="content-main">
  {{range .Apps}}
    <div class="app-{{.AppLabel}} module">
      <table>
        <caption>
          <a href="/admin/{{.AppLabel}}/" class="section" title="Models in the {{.AppLabel}} application">{{.AppLabel}}</a>
        </caption>
        <tbody>
          {{range .Models}}
          <tr class="model-{{.Name}}">
            <th scope="row"><a href="{{.ChangeURL}}">{{.Name}}</a></th>
            <td>{{if .AddURL}}<a href="{{.AddURL}}" class="addlink">Add</a>{{end}}</td>
            <td>{{if .ChangeURL}}<a href="{{.ChangeURL}}" class="changelink">Change</a>{{end}}</td>
          </tr>
          {{else}}
          <tr><td>No models available.</td></tr>
          {{end}}
        </tbody>
      </table>
    </div>
  {{else}}
    <p>You do not have permission to view or edit anything.</p>
  {{end}}
</div>
<div id="content-related">
  <div class="module" id="recent-actions-module">
    <h2>Recent actions</h2>
    <h3>My actions</h3>
    <p>None available</p>
  </div>
</div>
{{end}}
{{template "base" .}}
