{{define "content"}}
<div id="content-main">
  {{if .Error}}<p class="errornote">{{.Error}}</p>{{end}}
  <form method="post" id="password-change-form">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{.CSRFToken}}">
    <input type="text" name="username" value="{{.UserName}}" autocomplete="username" hidden>
    <div>
      <fieldset class="module aligned">
        <div class="form-row field-old_password">
          <label for="id_old_password" class="required">Old password:</label>
          <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
        </div>
        <div class="form-row field-new_password">
          <label for="id_new_password" class="required">New password:</label>
          <input type="password" name="new_password" autocomplete="new-password" required id="id_new_password">
        </div>
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="Change my password" class="default">
      </div>
    </div>
  </form>
</div>
{{end}}
{{template "base" .}}
