{{define "search-form"}}
<div id="toolbar">
  <form id="changelist-search" method="get" role="search" aria-labelledby="changelist-search-form">
    <div>
      <label for="searchbar"><img src="/admin/static/admin/img/search.svg" alt="Search"></label>
      <input type="text" size="40" name="q" value="{{.SearchQuery}}" id="searchbar">
      <input type="submit" value="Search">
      {{if .SearchHelpText}}<br class="clear"><div class="help" id="searchbar_helptext">{{.SearchHelpText}}</div>{{end}}
    </div>
  </form>
</div>
{{end}}
